<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h3> Hello home page</h3>
    <form action="/create" method="POST">
        <!-- <input name="name" type="text" placeholder="Your name" required> -->
        <input name="code" type="text" value="<%=id%>" readonly>
        <button type="submit">Create</button>
    </form>
    <form action="/join" method="POST">
        <!-- <input type="text" name="name " placeholder="Your name" required> -->
        <input type="text" name="code" placeholder="Enter room code">
        <button type="submit">Join</button>
    </form>


    <!-- <h3><%=id%></h3> -->
</body>

</html>