/* ========= navbar ============  */

.navbar {
    text-align: left;
    background-color: #E6E7E8
}

.navbar-brand {
    margin-left: 50px;
}

.nav-logo {
    width: 230px;
    margin: 0px;
}

.navbar-link {
    float: right;
    font-size: 15px;
    color: white;
    margin-top: 50px;
    margin-right: -30px;
}

.main-heading {
    margin-top: 40px;
}

.current-features {
    margin-top: 40px;
}