#canvasBlock {
    width: 1200px;
    height: 600px;
    overflow: hidden;
}

.whiteboard {
    background-color: white;
    border: 2px solid black;
    width: 120%;
}

.colors {
    top: 50px;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.white {
    background-color: white;
}